@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width: 500px) {
    header {
        background-color: #000000;
        color: #ffffff;
    }

    main {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

