@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@media (min-width: 500px) {
    header {
        background-color: #000000;
        color: #ffffff;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}
